    <footer class="" role="contentinfo">
      <div class="container section">

          <div class="container">
            <a data-scroll href="http://amaret.com"><img class="brand-logo" src="{{ site.baseurl }}/static/img/logo_white_medium.png" /></a>
            <h3 style="margin-top: 0">Integrated Solutions for Product Creation</h3>
            <p>
              Copyright &copy; 2015 Amaret Inc. All rights reserved. <!-- <a href="">Terms of Use</a> &nbsp;|&nbsp;  <a href="">Privacy Policy</a> -->
            </p>
          </div>

      </div>
    </footer>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{ site.baseurl }}/static/js/pollen.js"></script>
    <script src="{{ site.baseurl }}/static/js/prism.js"></script>
