
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pollen, a new programming language for tiny computers by Amaret, Inc.">
    <meta name="keywords" content="programming, programming languages, languages, hardware, microcontroller, embedded system, embedded systems, embedded systems programming, embedded development, microcontroller software, microcontroller software development">
    <meta name="author" content="Amaret, Inc.">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ page.root }}static/css/bootstrap.css" rel="stylesheet" />

    <!-- Prism CSS -->
    <link href="{{ page.root }}static/css/prism.css" rel="stylesheet" />

    <!-- Amaret core CSS -->
    <link href="{{ page.root }}static/css/pollen.css" rel="stylesheet" />

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="icon" href="static/ico/favicon.ico">

    <!-- analytics --> 
    <script></script>