<h4>Language Guide</h4>
<ul class="nav doc-sidenav affix-top" data-spy="affix" data-offset-top="10" data-offset-bottom="200" style="margin-top: 0px">
  <li><a href="{{site.url}}/pollen/guide">The Basics</a></li>
  <li><a href="{{site.url}}/pollen/guide/operators">Basic Operators</a></li>
  <li><a href="{{site.url}}/pollen/guide/strings">Strings and Characters</a></li>
  <li><a href="{{site.url}}/pollen/guide/arrays">Arrays</a></li>
  <li><a href="{{site.url}}/pollen/guide/control-flow">Control Flow</a></li>
  <li><a href="{{site.url}}/pollen/guide/function-references">Function References</a></li>
  <li><a href="{{site.url}}/pollen/guide/host-initialization">Host Initialization</a></li>
  <li><a href="{{site.url}}/pollen/guide/modules">Modules</a></li>
  <li><a href="{{site.url}}/pollen/guide/protocols">Protocols</a></li>  
  <li><a href="{{site.url}}/pollen/guide/compositions">Compositions</a></li>
  <li><a href="{{site.url}}/pollen/guide/classes">Classes</a></li>
  <li><a href="{{site.url}}/pollen/guide/enumerations">Enumerations</a></li>
  <li><a href="{{site.url}}/pollen/guide/meta">Meta Types</a></li>
  <li><a href="{{site.url}}/pollen/guide/print-keyword">Print Keyword</a></li>
  <li><a href="{{site.url}}/pollen/guide/intrinsics">Intrinsics</a></li>
  <li><a href="{{site.url}}/pollen/guide/c-code">C Code Injection</a></li>
  <li><a href="{{site.url}}/pollen/guide/packages-bundles">Packages &amp; Bundles</a></li>
  <li><a href="{{site.url}}/pollen/guide/pollen-corelib">Core Library</a>
    <ul>
        <li><a href="{{site.url}}/pollen/guide/pollen-events">Events</a></li>
        <li><a href="{{site.url}}/pollen/guide/pollen-timers">Timers</a></li>
    </ul>
  </li>
  
</ul>
