<h4>Language Guide</h4>
<ul class="nav doc-sidenav" style="margin-top: 0px">
  <li><a href="{{site.baseurl}}/guide/">The Basics</a></li>
  <li><a href="{{site.baseurl}}/guide/operators/">Basic Operators</a></li>
  <li><a href="{{site.baseurl}}/guide/strings/">Strings and Characters</a></li>
  <li><a href="{{site.baseurl}}/guide/arrays/">Arrays</a></li>
  <li><a href="{{site.baseurl}}/guide/control-flow/">Control Flow</a></li>
  <li><a href="{{site.baseurl}}/guide/function-references/">Function References</a></li>
  <li><a href="{{site.baseurl}}/guide/host-initialization/">Host Initialization</a></li>
  <li><a href="{{site.baseurl}}/guide/modules/">Modules</a></li>
  <li><a href="{{site.baseurl}}/guide/protocols/">Protocols</a></li>  
  <li><a href="{{site.baseurl}}/guide/compositions/">Compositions</a></li>
  <li><a href="{{site.baseurl}}/guide/classes/">Classes</a></li>
  <li><a href="{{site.baseurl}}/guide/enumerations/">Enumerations</a></li>
  <li><a href="{{site.baseurl}}/guide/meta/">Meta Types</a></li>
  <li><a href="{{site.baseurl}}/guide/print-keyword/">Print Keyword</a></li>
  <li><a href="{{site.baseurl}}/guide/intrinsics/">Intrinsics</a></li>
  <li><a href="{{site.baseurl}}/guide/c-code/">C Code Injection</a></li>
  <li><a href="{{site.baseurl}}/guide/packages-bundles/">Packages &amp; Bundles</a></li>
  <li><a href="{{site.baseurl}}/guide/pollen-corelib/">Core Library</a>
    <ul>
        <li><a href="{{site.baseurl}}/guide/pollen-events/">Events</a></li>
        <li><a href="{{site.baseurl}}/guide/pollen-timers/">Timers</a></li>
    </ul>
  </li>
  
</ul>
